﻿@page "/"

@using RTSPWebPlayer.Data;
@using System.Threading;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.IO;

@inject RtspCameraService _rtspCameraService

<h1>Dashboard</h1>

<p>Frames per second: @FramesPerSecond</p>
<p>Frame drops per second: @FrameDropsPerSecond</p>

<img src="data:image/jpeg;base64,@ImgBase64" width="@Width" height="@Height">

@code {
    const int Width = 1024;
    const int Height = 768;

    private string ImgBase64 { get; set; }

    private int FrameCount = 0;
    private int FrameDropCount = 0;
    private int FramesPerSecond { get; set; }
    private int FrameDropsPerSecond { get; set; }

    protected override void OnInitialized()
    {

        var aTimer = new System.Timers.Timer();
        aTimer.Interval = 1000;

        aTimer.Elapsed += (object source, System.Timers.ElapsedEventArgs e) =>
        {
            FramesPerSecond = FrameCount;
            FrameCount = 0;

            FrameDropsPerSecond = FrameDropCount;
            FrameDropCount = 0;

            base.InvokeAsync(StateHasChanged);
        };

        aTimer.Enabled = true;

        var cancelToken = new CancellationTokenSource();
        _rtspCameraService.FrameReceived += _rtspCameraService_FrameReceived;
        _rtspCameraService.FrameDropped += (object sender, EventArgs e) =>
        {
            FrameDropCount += 1;
        };

        _rtspCameraService.ConnectAsync(cancelToken.Token);
    }

    private void _rtspCameraService_FrameReceived(object sender, Bitmap bitmap)
    {
        using (var memoryStream = new MemoryStream())
        {
            bitmap.Save(memoryStream, ImageFormat.Jpeg);
            ImgBase64 = Convert.ToBase64String(memoryStream.ToArray());
        }

        base.InvokeAsync(StateHasChanged);
        FrameCount++;
    }

    public void Dispose()
    {
        _rtspCameraService.FrameReceived -= _rtspCameraService_FrameReceived;
    }
}